<!-- Botón AGREGAR FILA — ponlo encima o debajo de la tabla -->
<div class="flex justify-end m-4">
  <button type="button" (click)="agregarFila()" class="flex items-center gap-2 text-white bg-brand hover:bg-brand-strong
           box-border border border-transparent focus:ring-4 focus:ring-brand-medium
           shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
    </svg>
    Agregar Fila
  </button>
</div>

   @if (mostrarAlertaExito) {
  <div class="p-4 mb-4 text-sm text-fg-success-strong rounded-base bg-success-soft" role="alert">
    <span class="font-medium">¡Éxito!</span> La programación se ha agregado correctamente al sistema.
  </div>
}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default m-4">
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead class="text-sm text-body bg-yellow-700 bg-neutral-secondary-medium border-b border-default-medium"
      style="color: #000000;">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="table-checkbox" type="checkbox" value=""
              class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
            <label for="table-checkbox" class="sr-only">Table checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-15 py-3 font-medium">
          IdPedido
        </th>
        <th scope="col" class="px-15 py-3 font-medium">
          Cliente
        </th>
        <th scope="col" class="px-14 py-3 font-medium">
          Semana
        </th>
        <th scope="col" class="px-22 py-3 font-medium">
          Departamento
        </th>
        <th scope="col" class="px-18 py-3 font-medium">
          Linea
        </th>
        <th scope="col" class="px-19 py-3 font-medium">
          Día
        </th>
        <th scope="col" class="px-15 py-3 font-medium">
          Modelo
        </th>
        <th scope="col" class="px-15 py-3 font-medium">
          Demanda Día
        </th>
        <th scope="col" class="px-3 py-3 font-medium">
          Personal
        </th>
        <th scope="col" class="px-3 py-3 font-medium">
          Minutos Disponibles por Departamento
        </th>
        <th scope="col" class="px-5 py-3  font-medium">
          Tiempo Estándar
        </th>
        <th scope="col" class="px-5 py-3  font-medium">
          Capacidad Día (pares)
        </th>
        <th scope="col" class="px-5 py-3  font-medium">
          Carga Día (min requeridos)
        </th>
        <th scope="col" class="px-5 py-3  font-medium">
          Saturación (%)
        </th>
        <th scope="col" class="px-5 py-3  font-medium">
          Capacidad Real del Departamento
        </th>
        <th scope="col" class="px-5 py-3  font-medium">
          Programación Ideal
        </th>
        <th scope="col" class="px-5 py-3  font-medium">
          Deficit (pares para cumplir)
        </th>
      </tr>
    </thead>

    <!-- En el tbody de tu tabla -->
    <tbody>
      @for (fila of filas(); track fila.idPedido) {
      <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
        <td class="w-4 p-4">
          <input type="checkbox" class="w-4 h-4 border border-default-medium rounded-xs
               bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
        </td>
             <td class="px-6 py-3">
          <input type="number"
                 [value]="fila.idPedido"
                 (input)="fila.idPedido = +$event.target.value"
                 class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs" />
        </td>

       <td class="px-6 py-3 font-medium text-heading whitespace-nowrap">
          <input type="text"
                 [value]="fila.cliente"
                 (input)="fila.cliente = $event.target.value"
                 class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
                 required />
                 </td>

        <td class="px-6 py-4">
          <select [value]="fila.semana"
                  (change)="fila.semana = $any($event.target).value"
                  class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs">
            <option value="0" disabled>Semana</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="2">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
          </select>
        </td>

       <td class="px-6 py-4">
          {{ fila.departamento || 'CORTE MD' }}
        </td>

       <td class="px-6 py-4">
          <select [value]="fila.linea"
                  (change)="fila.linea = $any($event.target).value"
                  class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs">
            <option value="">Seleccionar</option>
            <option value="L-1">L-1</option>
            <option value="L-2">L-2</option>
            <option value="L-3">L-3</option>
            <option value="L-4">L-4</option>
            <option value="L-5">L-5</option>
            <option value="L-6">L-6</option>
            <option value="L-7">L-7</option>
            <option value="L-8">L-8</option>
          </select>
        </td>

        <td class="px-6 py-4">
          <select [value]="fila.dia"
                  (change)="fila.dia = $any($event.target).value"
                  class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs">
            <option value="">Seleccionar</option>
            <option value="LUNES">LUNES</option>
            <option value="MARTES">MARTES</option>
            <option value="MIÉRCOLES">MIÉRCOLES</option>
            <option value="JUEVES">JUEVES</option>
            <option value="VIERNES">VIERNES</option>
          </select>
        </td>

        <td class="px-6 py-4">
          <input type="text" id="modeloBuca"
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
            placeholder="" required (input)="fila.modelo.set($event.target.value)" [value]="fila.modelo()"
            (keyup.enter)="buscarTiempoEstandar(fila)" (blur)="buscarTiempoEstandar(fila)" />
        </td>
        <td class="px-6 py-4">
          <input type="number"
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
            placeholder="" required [value]="fila.demandaDia()"
            (input)="actualizarDemanda(fila, +$event.target.value)" />
        </td>
        <td class="px-6 py-4">
          {{ fila.personal() }}
        </td>
        <td class="px-6 py-4">
          {{ fila.minutosDisponibles()}}
        </td>
        <td class="px-6 py-4">
          {{ fila.tiempoEstandar() }}
        </td>
        <td class="px-6 py-4">
          {{ fila.capacidadDia() }}
        </td>
        <td class="px-6 py-4">
          {{ fila.cargaDia() }}
        </td>
        <td class="px-6 py-4">
          <span [ngClass]="{
          'bg-success': saturacionTotal() >= 100,
          'bg-warning': saturacionTotal() >= 80 && saturacionTotal() < 100,
          'bg-danger': saturacionTotal() < 80
        }" class="px-2 py-1 rounded text-white">
            {{ saturacionTotal() }} %
          </span>
        </td>
        <td class="px-6 py-4">
          {{ fila.capacidadDepartamento() }}
        </td>
        <td class="px-6 py-4">
          {{ fila.programacionIdeal() }}
        </td>
        <td class="px-6 py-4">
          {{ fila.deficit() }}
        </td>
        <td class="flex items-center px-6 py-6 space-x-3">
          <button type="button"
            class="text-white bg-danger box-border border border-transparent hover:bg-danger-strong focus:ring-4 focus:ring-danger-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            (click)="eliminarFila()">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
    <section>
      <div class="flex items-center align-items: center; m-4 ">
        <button (click)="addProgramacionCorte()"
          class="text-white bg-success box-border border border-transparent hover:bg-success-strong focus:ring-4 focus:ring-success-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Guardar</button>
      </div>
    </section>
  </table>
</div>

