<nav class="bg-yellow-800 fixed w-full z-20 top-0 start-0 border-b border-default">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://www.pazstor.com.mx/logo-pazstor-big.png" class="h-7" alt="Flowbite Logo" />
      <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">PAZSTOR</span>
    </a>
    <button data-collapse-toggle="navbar-multi-level-dropdown" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-olive-950 hover:text-white focus:outline-none focus:ring-2 focus:ring-olive-950"
      aria-controls="navbar-multi-level-dropdown" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-multi-level-dropdown">
      <ul
        class=" flex flex-col font-medium p-4 md:p-0 mt-4 border border-default rounded-base bg-olive-800 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-yellow-800">
        <li>
          <a style="color: black;" href="#"
            class="block py-2 px-3 text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0"
            aria-current="page">Concentrado General</a>
        </li>
        <li>
          <button id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0"
            style="color: black;">
            Ingeniería
            <svg class="w-4 h-4 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 9-7 7-7-7" />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div id="multi-dropdown"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
            <ul class="p-2 text-sm text-body font-medium" aria-labelledby="multiLevelDropdownButton">
              <li>
                <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown"
                  data-dropdown-placement="right-start" type="button"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">
                  Modelos
                  <svg class="h-4 w-4 ms-auto rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m9 5 7 7-7 7" />
                  </svg>
                </button>
                <div id="doubleDropdown"
                  class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
                  <ul class="p-2 text-sm text-body font-medium" aria-labelledby="dropdownMultiLevelButton">
                    <li>
                      <a [routerLink]="['corte']">Corte</a>
                    </li>
                    <li>
                      <a [routerLink]="['coordinado']">Coordinado</a>
                    </li>
                    <li>
                      <a [routerLink]="['pespunte']">Pespunte</a>
                    </li>
                    <li>
                      <a [routerLink]="['montado']">Montado</a>
                    </li>
                    <li>
                      <a [routerLink]="['inyeccion']">Inyección</a>
                    </li>
                    <li>
                      <a [routerLink]="['preacabado']">Preacabado</a>
                    </li>
                    <li>
                      <a [routerLink]="['plantilla']">Plantilla</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button id="empleadosDropdownButton" data-dropdown-toggle="empleadosDropdown"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 "
            style="color: black;">
            Empleados
            <svg class="w-4 h-4 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 9-7 7-7-7" />
            </svg>
          </button>

          <!-- Dropdown principal -->
          <div id="empleadosDropdown"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
            <ul class="p-2 text-sm text-body font-medium" aria-labelledby="empleadosDropdownButton">
              <li>
                <button id="empleadosDeptoButton" data-dropdown-toggle="empleadosDeptoDropdown"
                  data-dropdown-placement="right-start" type="button"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">
                  Departamento
                  <svg class="h-4 w-4 ms-auto rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m9 5 7 7-7 7" />
                  </svg>
                </button>

                <!-- Submenú -->
                <div id="empleadosDeptoDropdown"
                  class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
                  <ul class="p-2 text-sm text-body font-medium">
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleados']">Empleados General</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosCorte']">Empleados Corte</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosCoordinado']">Empleados Coordinado</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosPespunte242']">Empleados Pespunte 242</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosPespunte243']">Empleados Pespunte 243</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosPespunte244']">Empleados Pespunte 244</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosPespunte245']">Empleados Pespunte 245</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosPespunte246']">Empleados Pespunte 246</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosMontado']">Empleados Montado</a>
                    </li>
                    <li>
                      <a class="block p-2 hover:bg-neutral-tertiary-medium rounded"
                        [routerLink]="['empleadosAdorno']">Empleados Adorno</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a [routerLink]="['clientes']">Clientes</a>
        <li>
          <a [routerLink]="['pedidos']">Pedidos</a>
        </li>
        <li>
          <!-- Nivel 1: Botón Principal (Programación) -->
          <button id="progDropdownButton" data-dropdown-toggle="prog-dropdown"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0"
            style="color: black;">
            Programación
            <svg class="w-4 h-4 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 9-7 7-7-7" />
            </svg>
          </button>

          <!-- Nivel 2: Selección de Ciudad -->
          <div id="prog-dropdown"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-48">
            <ul class="p-2 text-sm text-body font-medium" aria-labelledby="progDropdownButton">


              <!-- CIUDAD: MANUEL DOBLADO -->
              <li>
                <button id="manuelDobladoBtn" data-dropdown-toggle="manuelDobladoDropdown"
                  data-dropdown-placement="right-start" type="button"
                  class="inline-flex items-center justify-between w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">
                  Manuel Doblado
                  <svg class="h-4 w-4 ms-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                  </svg>
                </button>
                <div id="manuelDobladoDropdown"
                  class="z-20 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
                  <ul class="p-2 text-sm">
                    <li><a [routerLink]="['programacion-plantilla-md']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Plantilla</a></li>
                    <li><a [routerLink]="['programacion-inyeccion-md']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Inyección</a></li>
                    <li><a [routerLink]="['programacion-preacabado-md']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Preacabado</a></li>
                    <li><a [routerLink]="['programacion-corte-md']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Corte</a></li>
                    <li><a [routerLink]="['programacion-coordinado-md']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Coordinado</a></li>
                    <li><a [routerLink]="['programacion-pespunte-md']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Pespunte</a></li>
                    <li><a [routerLink]="['programacion-montado-adorno-md']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Montado/Adorno</a></li>
                  </ul>
                </div>
              </li>
              <!-- CIUDAD: LEÓN -->
              <li>
                <button id="leonBtn" data-dropdown-toggle="leonDropdown" data-dropdown-placement="right-start"
                  type="button"
                  class="inline-flex items-center justify-between w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">
                  León
                  <svg class="h-4 w-4 ms-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                  </svg>
                </button>
                <div id="leonDropdown"
                  class="z-20 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
                  <ul class="p-2 text-sm">
                    <li><a [routerLink]="['programacion-corte-leon']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Corte</a></li>
                    <li><a [routerLink]="['programacion-coordinado-leon']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Coordinado</a></li>
                    <li><a [routerLink]="['programacion']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Pespunte</a></li>
                    <li><a [routerLink]="['programacion-montado-leon']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Montado/Adorno</a></li>
                  </ul>
                </div>
              </li>

              <!-- CIUDAD: CUERÁMARO -->
              <li>
                <button id="cueramaroBtn" data-dropdown-toggle="cueramaroDropdown" data-dropdown-placement="right-start"
                  type="button"
                  class="inline-flex items-center justify-between w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">
                  Cuerámaro
                  <svg class="h-4 w-4 ms-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                  </svg>
                </button>
                <div id="cueramaroDropdown"
                  class="z-20 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
                  <ul class="p-2 text-sm">
                    <li><a [routerLink]="['programacion-corte-c']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Corte</a></li>
                    <li><a [routerLink]="['programacion-coordinado-c']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Coordinado</a></li>
                    <li><a [routerLink]="['programacion-pespunte-c']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Pespunte</a></li>
                    <li><a [routerLink]="['programacion-montado-adorno-c']"
                        class="block p-2 hover:bg-neutral-tertiary-medium rounded">Montado/Adorno</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
