
<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default m-4">
  <table class="w-full text-sm text-left rtl:text-right text-body bg-yellow-700">
    <thead class="text-sm text-body bg-yellow-700 border-b rounded-base border-default" style="color: #000000;">
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">Clave</th>
        <th scope="col" class="px-6 py-3 font-medium">Nombre</th>
        <th scope="col" class="px-6 py-3 font-medium">Apellido Paterno</th>
        <th scope="col" class="px-6 py-3 font-medium">Apellido Materno</th>
        <th scope="col" class="px-6 py-3 font-medium">Email</th>
        <th scope="col" class="px-6 py-3 font-medium">Departamento</th>
        <th scope="col" class="px-6 py-3 font-medium">Fecha Cumpleaños</th>
        <th scope="col" class="px-6 py-3 font-medium">Puesto</th>
        <th scope="col" class="px-6 py-3 font-medium">Fecha Alta</th>
    </thead>
    <tbody>
      @for (ador of listadoAdorno; track ador.clave) {
        <tr class="bg-neutral-primary border-b border-default">
          <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
            {{ ador.clave }}
          </th>
          <td class="px-6 py-4">{{ ador.nombre }}</td>
          <td class="px-6 py-4">{{ ador.apellidopaterno }}</td>
          <td class="px-6 py-4">{{ ador.apellidomaterno }}</td>
          <td class="px-6 py-4">{{ ador.email }}</td>
          <td class="px-6 py-4">{{ ador.departamento}}</td>
          <td class="px-6 py-4">{{ ador.fechacumple }}</td>
          <td class="px-6 py-4">{{ ador.puesto }}</td>
          <td class="px-6 py-4">{{ ador.fechaalta }}</td>
        </tr>
      } @empty {
                <tr>
                    <td colspan="7" class="px-6 py-4 text-center">
                        No se encontraron registros de empleados.
                    </td>
                </tr>
              }
    </tbody>
  </table>
</div>


